@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&family=Squada+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010c2c;
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0; /* Set width to 0 */
}

